# ignore other folders
proj.*/

# except android
!proj.android
proj.android/*
!proj.android/jni
!proj.android/res

# and iOS
!proj.ios_mac
proj.ios_mac/*
!proj.ios_mac/ios
proj.ios_mac/ios/*
!proj.ios_mac/ios/Info.plist
!proj.ios_mac/mac
proj.ios_mac/mac/*
!proj.ios_mac/mac/Info.plist
!proj.ios_mac/BirdsOfParadise.xcodeproj

# and windows
!proj.win32
proj.win32/*
!proj.win32/BirdsOfParadise.sln
!proj.win32/BirdsOfParadise.vcxproj
!proj.win32/BirdsOfParadise.vcxproj.filters

# ignore cocos2d-x files
CMakeLists.txt

# except the important ones
!Classes/
!Resources/

# ignore output files
*/output.txt
.DS_Store